= simple_form_for(@workout, html: { class: 'form-horizontal' }) do |f|
	= f.input :date, label: "Date" 
	%br/
	= f.input :workout, label: "Which area did you workout?", :collection =>['Upper body', 'Lower Body', 'Core', 'Total body']
	%br/
	= f.input :cardio, :as => :boolean, as: :radio_buttons, label: " Did you do a strength training workout?"
	%br/
	= f.input :strength, :as => :boolean, as: :radio_buttons, label: " Did you do a cardio workout?"
	%br/
	= f.input :mood, label: "How were you feeling?", :collection =>['Great!', 'Good', 'Meh...', 'Bad']
	%br/
	= f.input :length, label: "How long was the workout (in minutes)?", input_html: { class: "form-control" }
	%br/
	=  f.hidden_field :user_id , :value => current_user.id
	
	= f.button :submit