
  <div class="col-md-6 text-center">
    <h1 style="color:white">Length of your workouts this week</h1>
      <div >
      	<%= content_tag :div, "", id: "workouts_chart", data: {workouts: Workout.chart_data,} %>
      </div>
      <br>
      <br>
      <br>
  </div>
  
    <div class="col-md-6 text-center">
    <h1 style="color:white">Breakdown of your workouts this week</h1>
      <div >
      	<%= content_tag :div, "", id: "workouts_bar_chart", data: {workouts: Workout.chart_data,} %>
      </div>
      <br>
      <br>
      <br>
  </div>

   <br>
   <h1 style="color:white">All workouts: </h1>
   <br>

<div class="row">
  <h2 style="color:yellow">Please enter the date from & to in the search bar to view your past workouts </h2>
  <div class="pull-right range-query">
    <%= form_tag workouts_path, method: :get do %>
      <%= text_field_tag 'search[date_from]', @search.date_from %>
      <%= text_field_tag 'search[date_to]', @search.date_to %>
      <%= submit_tag 'Search', class: 'btn search-button' %>
    <% end %>
  </div>
</div>

<div id="index_workouts" class="">

  
  <% @workouts.each do |workout| %>
    <h2>
      <%= link_to workout.date.strftime("%A %B %d"), workout %>
    </h2>
    <h3>
      <span>Workout:</span>
      <%= workout.workout %>
    </h3>
  <% end %>
</div>
<br>
<br