<!DOCTYPE html>

<head>
  <title>Jump start</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  
</head>
<body>
  
		<!-- Header -->
<header id="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-brand">
          <%= link_to "Jump Start", root_path %>
        </div>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
  
  <!-- Recipes dropdown -->
            <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        		Recipes <span class="caret"></span>
      		</a>
            <ul class="dropdown-menu">
  	          <li>
  	            <%= link_to "All Recipes", recipes_path %>
  	          </li>
  	          <li>
  	            <%= link_to "New Recipe", new_recipe_path %>
  	          </li>
            </ul>
            </li>
            
  <!-- Workouts dropdown -->          
            <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        		Workout <span class="caret"></span>
      		</a>
            <ul class="dropdown-menu">
            <li>
              <%= link_to "Workout log", workouts_path %>
            </li>
            <li>
              <%= link_to "New workout", new_workout_path %>
            </li>
            <li>
              <%= link_to "Sample Routines", routines_path %>
            </li>
             </ul>
            </li>
            
  <!-- Account dropdown -->          
            <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        		Account <span class="caret"></span>
      		</a>
            <ul class="dropdown-menu">
            <li>
              <%= link_to "Profile", users_path %>
            </li>
            <li>
              <%= link_to "Settings", edit_user_registration_path %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
             </ul>
            </li>
          </ul>
          
          
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
</header>    
    
    
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>
    <%= yield %>
  </div>
</body>

<script>

//needed to force load JQuery for bootstrap components

  $('.dropdown-toggle').dropdown();


</script>








